<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Registered Events</title>
    
    <link rel="stylesheet" href="../src/styles/myregister.css">
    
</head>
<body>
    <h1>Your Registered Events</h1>
    
    <div class="events-container">
        <% if (registeredEvents.length > 0) { %>
            <% registeredEvents.forEach(event => { %>
                <div class="event">
                    <h2><%= event.name %></h2>
                    
                    <p><strong>location:</strong> <%= event.location %></p>
                    <p><strong>Date:</strong> <%= event.date %></p>
                   
                   
                    <a href="/eventdetail/<%= event._id %>">View Event Details</a>
                </div>
            <% }) %>
        <% } else { %>
            <p class="no-events">You haven't registered for any events yet.</p>
        <% } %>
    </div>
    <br>
    <a href="/dashboard">Dashboard</a>
</body>
</html>
